SUPABASE_URL=https://goifacmbmwmbwxgyqmtk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdvaWZhY21ibXdtYnd4Z3lxbXRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MjcwODAsImV4cCI6MjA4ODMwMzA4MH0.-h1BL265anOF45H_LkT1mZr9_CQVS7_1EmezuHfDMLo
BASE_URL=https://nutrify-app.my.id/api/
RECEIVE_TIMEOUT=30000
CONNECTION_TIMEOUT=30000
GOOGLE_WEB_CLIENT_ID=764028839897-vmbicv6s24itto9pblpi5bi5dm2jt7bv.apps.googleusercontent.com